@import "../../../base.scss";

.sideBarContent {
    transition: 0.5s;
    width: 80%;
    height: 100vh;
    display: flex;
    margin-left: 0;
    background-color: $primary-color;
    position: absolute;
    z-index: 1;
    left: -269px;
    color: $alternative-color;

}

.sideBarContent-full {
    width: 80%;
    transition: 0.5s;
    width: 80%;
    height: 100vh;
    display: flex;
    margin-left: 0;
    background-color: $primary-color;
    position: absolute;
    z-index: 1;
    left: 0px;
    color: $alternative-color;

    .closeButton {
        height: 50px;
        margin-top: 25px;
    }
}


.imageProfile {
    border-radius: 500px;
    margin: 10px 20px 10px 10%;
}

.userName {
    justify-items: center;
    align-items: center;
    font-size: 30px;
    transition: 0.7s;
    margin-left: 20px;
}