
@import "../../base.scss";

.sideBarContent {
    transition: 0.5s;
    width: 80%;
    height: 100vh;
    display: flex;
    margin-left: 0;
    background-color: $base-color;
    position: absolute;
    z-index: 1;
}

.imageProfile {
    border-radius: 500px;
    padding: 20px;
    margin: 10px 20px 10px 10%;
    height: 200px;
    width: 200px;
}

.userName {
    justify-items: center;
    align-items: center;
    font-size: 30px;
    transition: 0.7s;
}