.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 45%;
    border: 2px solid lightgray;
    border-radius: 25px;
    padding: 25px;
}