// $primary-color: #161925;
// $accent-color: #23395B;
// $alternative-color: #406e8e;
// $base-color:#8EA8C3;
// $component-color:#CBF7ED;


$primary-color: #1A181B;
$accent-color: #17DA19;
$alternative-color: #F6E8EA;
$base-color:#001F54;
$component-color:#FFFFFF;