// $primary-color: #161925;
// $accent-color: #23395B;
// $alternative-color: #406e8e;
// $base-color:#8EA8C3;
// $component-color:#CBF7ED;


$primary-color: gray;
$accent-color: #17DA19;
$alternative-color: white;
$base-color:black;
$component-color:#FFFFFF;